.input {
	border-radius: 0.5rem;
	background-color: var(--neutral-100);
	border: 0.1rem solid var(--neutral-300);
	display: block;
	max-width: 100%;
	padding: 1rem;
	position: relative;
}

.input::placeholder {
	color: var(--neutral-400);
}

.input ~ :not(.label--bottom) {
	/* margin-bottom: 1rem; */
}

.input:focus-visible,
.search__icon:focus-visible,
.filters__button:focus-visible {
	border: 0.1rem dashed var(--neutral-500);
}
