.filter {
	padding: 0.5rem 1rem;
}

.filter:first-child {
	padding-top: 1rem;
}

.filter:last-child {
	padding: 1rem;
}

.filter__input,
.filter__select {
	padding: 0.5rem 0.75rem;
	width: 100%;
	background-color: var(--neutral-200);
	border-radius: 0.75rem;
	border: 0.1rem dashed transparent;
}

.filter__option {
	color: var(--neutral-800);
}

.filter__label {
	width: 100%;
}

.filter:has(.filter__input:is([type="reset"], [type="submit"])) {
	background-color: var(--neutral-100);
	bottom: 0;
	display: flex;
	gap: 0.75rem;
	position: sticky;
}

.filter:has(.filter__input[type="checkbox"]) {
	align-items: center;
	display: flex;
	cursor: default;
}

.filter__input:hover,
.filter__input:focus,
.filter__input:not(:placeholder-shown, [type="reset"], [type="submit"]),
.filter__select:hover,
.filter__select:focus,
.filter__select:not(:has(.filter__option:first-child:checked)),
.filter:has(.filter__input[type="checkbox"]):hover .filter__input[type="checkbox"] {
	border: 0.1rem dashed var(--neutral-400);
}

.filter__input::placeholder,
.filter__select:has(.filter__option:first-child:checked),
.filter__option:first-child {
	color: var(--neutral-400);
}

.filter__input[type="reset"],
.filter__input[type="submit"] {
	text-align: center;
}

.filter__input[type="checkbox"] {
	border-radius: 0.25rem;
	border: 0.1rem dashed transparent;
	height: 1.5rem;
	margin-right: 0.5rem;
	position: relative;
	width: 1rem;
}

.filter__input[type="checkbox"]:checked {
	border: 0.1rem dashed var(--neutral-400);
}

.filter__input[type="checkbox"]:checked::before,
.filter__input[type="checkbox"]:checked::after {
	background-color: var(--neutral-600);
	border-radius: 5rem;
	content: "";
	height: 0.2rem;
	position: absolute;
}

.filter__input[type="checkbox"]:checked::before {
	left: 60%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 75%;
}

.filter__input[type="checkbox"]:checked::after {
	left: 30%;
	top: 65%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 35%;
}
