.card {
	background-color: var(--neutral-100);
	border-radius: 1rem;
	color: var(--neutral-800);
	cursor: default;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	overflow: hidden;
}

.card__picture {
	aspect-ratio: 3/2;
	margin-bottom: 0.5rem;
	overflow: hidden;
	position: relative;
}

.card__picture:has(.card__image:not([src])) {
	flex-grow: 1;
}

.card__picture:has(.card__image:not([src]))::before {
	background-color: var(--neutral-300);
	color: var(--neutral-600);
	content: "IMAGE NOT AVAILABLE";
	display: grid;
	inset: 0;
	place-content: center;
	position: absolute;
}

.card__image {
	border-radius: inherit;
	transition: filter, transform;
	transition-duration: 250ms;
	transition-timing-function : ease;
}

.card:hover .card__image {
	filter: saturate(1.25);
	transform: scale(1.05);
}

.card__information {
	display: flex;
	justify-content: space-between;
	font-size: 0.75rem;
	padding: 0.5rem 1rem;
}

.card__type {
	background-color: var(--violet-600);
	border-radius: 5rem;
	color: var(--neutral-100);
	min-width: 2rem;
	padding: 0.25rem 0.5rem;
	text-transform: uppercase;
}

.card__data {
	display: flex;
	gap: 0.5rem;
}

.card__time,
.card__likes {
	align-items: center;
	border-radius: 5rem;
	display: flex;
	gap: 0.25rem;
	padding: 0.25rem 0.5rem;
}

.card__title {
	margin-bottom: 1rem;
	padding: 0.5rem 1rem;
}
