.filters {
	position: relative;
}

.filters__button {
	background-color: var(--neutral-100);
	border-radius: 1rem;
	border: 0.1rem solid var(--neutral-300);
	padding: 1rem;
	display: grid;
	place-content: center;
}

.filters__button:hover,
.filters__button:focus-visible {
	background-color: var(--neutral-200);
}

.filters__form {
	background-color: var(--neutral-100);
	border-radius: 1rem;
	border: 0.1rem solid var(--neutral-300);
	display: flex;
	flex-direction: column;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: calc(100% + 0.75rem);
	transform: translateY(-2rem);
	visibility: hidden;
	width: min(90vw, 20rem);
	z-index: 3;

	transition-property: opacity, transform, visibility;
	transition-duration: 500ms;
	transition-timing-function: ease;
}

.filters__form--show {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}

.filters__list {
	height: 50vh;
	overflow-y: auto;
}
